//修改管理员信息
{extend name='common/adminbase' /}
{block name="link"}
	<link rel="stylesheet" type="text/css" href="__CSS__/out.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/show.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/dealmember.css">
{/block}

{block name="content"}
	<div class="out" style="background-image: url(__IMG__/aback.jpg);">	
		<table border="3" class="table" style="width: 700px;position: relative;top:60px;">
				<tr>
					<td>教练Id</td>
					<td>姓名</td>
					<td>手机号</td>
					<td>性别</td>
					<td>年龄</td>
					<td>工资</td>
					<td>操作</td>
				</tr>
				
				{foreach name='coa' item='vo'}
					<tr>
						<td>{$vo.id}</td>
						<td >{$vo.name}</td>
						<td>{$vo.phone}</td>
						<td>{$vo.sex}</td>
						<td >{$vo.age}</td>
						<td>{$vo.pay}</td>
						<td>
							<button class="zhu">删除</button>
							<button class="bian">编辑</button>
						</td>
					</tr>			
				{/foreach}
		</table>	
		<div class="bbb">
			<img src="__IMG__/no.png"  id="back"/>
		</div>
		
		<div class="dialog">
			<div class="show">
				<div><span class="span">修改教练信息</span>
					<img src="__IMG__/no.png" style="width:30px;height:30px;" class="img" />
				</div>
				<div><input type="text" placeholder="教练ID" class="i0"/></div>
				<div><input type="text" placeholder="姓名" class="i1"/></div>
				<div><input type="text" placeholder="手机号" class="i2"/><br /></div>
				<div><input type="text" placeholder="性别" class="i3"/></div>
				<div><input type="text" placeholder="年龄" class="i4"/></div>
				<div><input type="text" placeholder="月工资" class="i5"/></div>
			 	<div><button id="commit">提交</button></div>	
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#back').click(function()
			{
				window.location.href = 'coachmess';
			});
			
			$(".zhu").click(function(){
				var id = $(this).parent().parent().find("td").eq(0).html();
				$.ajax({
						url:'dealcoach',
						type:'POST',
						data:{id:id},
						success:function(data)
						{
							if(data==1)
							{
								alert('删除成功！');
								window.location.href = 'coachmess';
							}else{
								alert("删除出错！！");
							}
						},
						error:function(){alert('error!')}
					});
			});
				
			$(".bian").click(function(){

					$(".dialog").css('display','block');
					$(".table").css('display','none');
					$(".bbb").css('display','none');

					var arr=[];					
					for(var i=0;i<6;i++)
						arr[i] = $(this).parent().parent().find("td").eq(i).html();
						
					for(var i=0;i<6;i++)
						$(".i"+i).val(arr[i]);							
			});
			
			$("#commit").click(function(){
				
				var arr=[];
				for(var i=0;i<6;i++)
					arr[i] = $(".i"+i).val();
				$.ajax({
					url:'changecoach',
					type:'POST',
					data:{
						id:arr[0],
						name:arr[1],
						phone:arr[2],
						sex:arr[3],
						age:arr[4],
						pay:arr[5]		
							},		
					success:function(result)
					{
						if(result == 1)
						{
							alert("修改成功！");	
							window.location.href = 'coachmess';
						}
					},
					error:function(){alert('error!')}
				});

			});
			
			$(".img").click(function()
			{
				$(".dialog").css('display','none');
				$(".table").css('display','block');
				$(".bbb").css('display','block');
			});
		});
	</script>
{/block}
