//会员账号管理
{extend name="common/adminbase" /}
{block name="link"}
	<link rel="stylesheet" type="text/css" href="__CSS__/dealmember.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/class.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/out.css">
{/block}

{block name="content"}
	<div class="out" style="background-image: url(__IMG__/aback.jpg);">	
		<div class="inner">
			<div class="top" style="position: relative;top:-30px;">
				<button class="addm">添加会员</button>
				<input type="text" class="seekit" placeholder="请输入会员卡ID"/>
				<button class="findit">查询</button>
			</div>
			<table border="3" class="table layui-table">
				<thead>
					<tr>
						<td>会员Id</td>
						<td>登录账号</td>
						<td>开始时间</td>
						<td>到期时间</td>
						<td>会员卡类型</td>
						<td>会员积分</td>
						<td>账户余额</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					{volist name='member' id='memberId' key='s'}
					   <tr>
							<td>{$memberId.id}</td>
							<td>{$memberId.memberId}</td>
							<td>{$memberId.startTime}</td>
							<td>{$memberId.endTime}</td>
							<td>{$memberId.cardType}</td>
							<td>{$memberId.integral}</td>
							<td>{$memberId.balance}</td>
							<td>
								<button class="b{$s+1} zhu">删除</button>
								<button class="r{$s+1} bian">编辑</button>
							</td>
						</tr>
					{/volist}
				</tbody>							
		   </table>		    
			<div class="setpage" style="margin-top:25px;">{$page}</div>
			
			<div class="dialog">
				<div class="show">
					<div><span class="span">修改会员信息</span>
						<img src="__IMG__/no.png" style="width:30px;height:30px;" class="img" />
					</div>
					<div><input type="text" placeholder="会员ID" class="i0"/></div>
					<div><input type="text" placeholder="登录账号" class="i1"/></div>
					<div><input type="date" placeholder="开始时间" class="i2"/><br /></div>
					<div><input type="date" placeholder="到期时间" class="i3"/></div>
					<div><input type="text" placeholder="会员卡类型" class="i4"/></div>
					<div><input type="text" placeholder="会员积分" class="i5"/></div>
					<div><input type="text" placeholder="账户余额" class="i6"/></div>
			 		<div><button id="commit">提交</button></div>	
				</div>
			</div>
			
			<div class="dialog1">
				<div class="show1">
					<div><span class="span">添加会员信息</span>
						<img src="__IMG__/no.png" style="width:30px;height:30px;" class="img1" />
					</div>
					<div><input type="text" placeholder="会员ID" class="c0"/></div>
					<div><input type="text" placeholder="登录账号" class="c1"/></div>
					<div><input type="date" placeholder="开始时间" class="c2"/><br /></div>
					<div><input type="date" placeholder="到期时间" class="c3"/></div>
					<div><input type="text" placeholder="会员卡类型" class="c4"/></div>
					<div><input type="text" placeholder="会员积分" class="c5"/></div>
					<div><input type="text" placeholder="账户余额" class="c6"/></div>
			 		<div><button id="commit1">提交</button></div>	
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(function(){
			$(".pagination").attr("id","pagination-digg");
			$(".disabled span").html("");
			
			$(".findit").click(function(){
				var val = $(".seekit").val();
				if(val==null||val=="")
				{
					alert("输入不能为空！");
				}else{
					window.location.href = 'getMem?id='+val;
				}				
			});
			
			$(".zhu").click(function(){
				//获取记录条数
				var num = $('.table tr').length;
				for(var a=2;a<=num;a++)
				{
					if($(this).is(".b"+a))
					{
						var id = $(this).parent().parent().find("td").eq(0).html();
						$.ajax({
							url:'dealmember',
							type:'POST',
							data:{id:id},
							success:function(data)
							{
								if(data==1)
								{
									alert('删除成功！');
									window.location.href = 'membernum';
								}else{
									alert("删除出错！！");
								}
							},
							error:function(){alert('error!')}
						});
					}
				}
			});
				
			$(".bian").click(function(){
				//获取记录条数
				var num = $('.table tr').length;
				for(var a=2;a<=num;a++)
				{
					if($(this).is(".r"+a))
					{	
						$(".dialog").css('display','block');
						$(".table").css('display','none');
						$(".setpage").css('display','none');
						$(".top").css('display','none');
						var arr=[];					
						for(var i=0;i<7;i++)
							arr[i] = $(this).parent().parent().find("td").eq(i).html();
						
						for(var i=0;i<7;i++)
							$(".i"+i).val(arr[i]);							
					}
				}
			});
			
			$("#commit").click(function(){
				
				var arr=[];
				var ishave=true;
				for(var i=0;i<7;i++)
				{
					arr[i] = $(".i"+i).val();
					if(arr[i]==""||arr[i]==null)
						ishave = false;
				}
				if(ishave)
				{
					$.ajax({
						url:'changemember',
						type:'POST',
						data:{
							id:arr[0],
							mid:arr[1],
							st:arr[2],
							et:arr[3],
							ct:arr[4],
							ig:arr[5],
							ba:arr[6]			
								},		
						success:function(result)
						{
							if(result == 1)
							{
								alert("修改成功！");	
								window.location.href = 'membernum';
							}
						},
						error:function(){alert('error!')}
					});
				}else{
					alert("输入不能为空！");
				}			

			});
			
			$(".img").click(function()
			{
				$(".dialog").css('display','none');
				$(".table").css('display','block');
				$(".setpage").css('display','block');
				$(".top").css('display','block');
			});
			
			$(".img1").click(function()
			{
				$(".dialog1").css('display','none');
				$(".table").css('display','block');
				$(".setpage").css('display','block');
				$(".top").css('display','block');
			});
			
			$(".addm").click(function(){	
				$(".dialog1").css('display','block');
				$(".table").css('display','none');
				$(".setpage").css('display','none');
				$(".top").css('display','none');
			});
			
			
			$("#commit1").click(function(){
				
				var arr=[];
				var ishave = true;
				for(var i=0;i<7;i++)
				{
					arr[i] = $(".c"+i).val();
					if(arr[i]==""||arr[i]==null)
						ishave = false;
				}
				if(ishave)
				{
					$.ajax({
						url:'setmember',
						type:'POST',
						data:{
							id:arr[0],
							mid:arr[1],
							st:arr[2],
							et:arr[3],
							ct:arr[4],
							ig:arr[5],
							ba:arr[6]			
								},		
						success:function(result)
						{
							if(result == 1)
							{
								alert("添加成功！");	
								window.location.href = 'membernum';
							}else{
								alert("id重复，请重新输入！");
							}
						},
						error:function(){alert('error!')}
					});
				}else{
					alert("输入不能为空！");
				}			
			});
						
		});
	</script>	
{/block}
