<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>健身常识</title>
		<link href="__CSS__/style.css" rel="stylesheet" type="text/css"  media="all" />
		<!--<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>-->
		<script src="__JS__/jquery-3.3.1.js"></script>
		  <script type="text/javascript">
			$(document).ready(function() {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
	</head>
	<body>
	<!---start-wrap---->
		<!---start-header---->
		<div class="header" id="top">
			<div class="wrap">
			<!---start-logo---->
			<div class="logo">
				<a href="interface.html"><img src="__IMAGES__/jianshenLogo.jpg" title="logo" class="pic"/></a>
			</div>
			<!---End-logo---->
			<!---start-top-nav---->
			<div class="top-nav">
				<ul>
					<li ><a href="index">主页</a></li>
					<li class="active"><a href="about">常识</a></li>
					<li><a href="equipment">器械</a></li>
					<li><a href="action">动作</a></li>
					<li><a href="login">登录</a></li>
				</ul>
			</div>
			<div class="clear"> </div>
			<!---End-top-nav---->
		</div>
		<!---End-header---->
	</div>
	
		<!---start---content----->
		<div class="wrap">
		<div class="content">
			<!--start-about--->
			<div class="about">
				<div class="about-grids">
					<div class="about-grid">
						<h3>关于健身</h3>
						<img src="__IMAGES__/about1.jpg" title="about" />
						<span style="text-indent: 2em;">健身是一种体育项目，如各
							种徒手健美操、韵律操、形体操以及各种自抗力动作，体操可以增强力量、
							柔韧性，增加耐力，提高协调，控制身体各部分的能力，从而使身体强健。
							如果要达到缓解压力的目的，至少一周锻炼3次。</span>
						<p style="text-indent: 2em;">游泳、快走、慢跑、骑自行车，及一切有氧运动都能锻炼心脏。有氧运动好处
							多：能锻炼心肺、增强循环系统功能、燃烧脂肪、加大肺活量、降低血压，
							甚至能预防糖尿病，减少心脏病的发生。美国运动医学院建议，想知道有氧
							运动强度是否合适，可在运动后测试心率，以达到最高心率的60%—90%为宜。
						如果想通过有氧运动来减肥，可以选择低度到中度的运动强度，同时延长运动时间，这种方法消耗的热量更多。
						运动频率每周3—5次，每次20—60分钟。想要锻炼肌肉，可以练举重、做体操以及其他重复伸、屈肌肉的运动。
						肌肉锻炼可以燃烧热量、增强骨密度、减少受伤，尤其是关节受伤的几率，还能预防骨质疏松。</p>
						
					</div>
					<div class="about-grid center-grid1">
						<h3>为什么选择健身?</h3>
						<!--<p>1.可以让自己永远保持活力。</p>
						<p>2.可以减少自己少患疾病的几率。</p>
						<p>3.可以让自己的身体处于健康的状态。</p>
						<p>4.可以丰富自己的知识，丰富自己的业余生活。</p>-->
						<label>健身能给我们带来什么效果？</label>
						<p><b class="bold">主观感觉：</b>
				如果运动负荷安排适宜，则锻炼者的主观感觉应该是精神饱满，体力充沛，倍感舒服，渴望运动。</p>
						<p><b class="bold">排汗量：</b>
							当运动负荷适宜时，人体可有微汗或中等程度的出汗。如果负荷过大，机体过于疲劳，
							则锻炼者会满头大汗，浑身湿透。当然，排汗的多少还要视气温、气压、风速以及饮水而定。
						</p>
						<p><b class="bold">情绪：</b>
							情绪是人身体健康的“晴雨表”，同时也是衡量人体承担负荷情况的一种主观指标。一般来说，
							人体具有运动的需要，当这种需要得到满足时，人就会产生愉快的情绪体验。
						</p>
						<p><b class="bold">食欲：</b>
							人体在从事体育锻炼过程中，其能量消耗是很大的。一般来说，如果运动后生理反应正常，
							健康状况良好，人的食欲是很旺盛的，食量也会加。
						</p>
						
						<p><b class="bold">工作效率和生活能力：</b>
							如果健身负荷适宜，在工作和生活中就会精力旺盛，思想集中，思维敏捷，记忆清晰，求知旺盛，
							适应能力强，有信心，生活能力强。
						</p>
						<p><b class="bold">睡眠状况：</b>
							如果身体锻炼负荷适宜，一般应睡眠良好，睡得很沉，较少做梦，觉醒后感到精力充沛，处于良好的工作和应激状态。
						</p>
						
						<p><b class="bold">呼吸、循环功能指标：</b>
							 测量晨脉能反映机体的疲劳、机能状态。如果晨脉保持稳定或逐步下降，是锻炼的良好表现；
							 如果晨脉比以前多了5 次/ 分以上，是疲劳、机能下降的表现。
						</p>
					</div>
					<div class="about-grid last-grid">
						<h3>健身误区</h3>
						<div class="about-team">
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq1.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区一：初始锻炼就采取大运动量、大强度锻炼。</p>
									<p>误区二：空腹运动，有损健康。</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq2.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区三：初次进行器械锻炼，认为把所有的器械都做一遍才算得到锻炼了。</p>
									<p>误区四：只有出汗才算运动有效。</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq3.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区五：只要多运动，不用控制饮食，便可达到减肥目的。</p>
									<p>误区六：运动强度越大、减肥效果越好。</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq4.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区七：经过一段时间运动后肌肉就不会萎缩。</p>
									<p>误区八：晨练比暮练好。</p>
								</div>
								<div class="clear"> </div>
							</div>
							
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq5.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区九：不管选择什么运动项目，都习惯穿一种鞋。</p>
									<p>误区十：带病坚持锻炼。</p>
								</div>
								<div class="clear"> </div>
							</div>
							
							<div class="client">
								<div class="about-team-left">
									<img src="__IMAGES__/wq6.jpg" title="client-name" />
								</div>
								<div class="about-team-right">
									<p>误区十一：只要运动，就可能加速膝关节退化。</p>
									<p>误区十二：运动疲劳期饮酒可解乏。</p>
								</div>
								<div class="clear"> </div>
							</div>
						</div>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<!--End-about--->
		</div>
		</div>	
		<!---End---content----->
		
	<div class="clear"> </div>
	<div class="top-link">
		<a href="#top" class="scroll">Click to Top</a>
	</div>
	<!---End-wrap---->
	</body>
</html>

