<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>健身器械</title>
		<link href="__CSS__/style.css" rel="stylesheet" type="text/css"  media="all" />
		<!--<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>-->
		<script src="__JS__/jquery-3.3.1.js"></script>
		  <script type="text/javascript">
			$(document).ready(function() {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
	</head>
	<body>
	<!---start-wrap---->
	
		<!---start-header---->
		<div class="header" id="top">
			<div class="wrap">
			<!---start-logo---->
			<div class="logo">
				<a href="interface.html"><img src="__IMAGES__/jianshenLogo.jpg" title="logo" class="pic"/></a>
			</div>
			<!---End-logo---->
			<!---start-top-nav---->
			<div class="top-nav">
				<ul>
					<li ><a href="index">主页</a></li>
					<li><a href="about">常识</a></li>
					<li class="active"><a href="equipment">器械</a></li>
					<li><a href="action">动作</a></li>
					<li><a href="login">登录</a></li>
				</ul>
			</div>
			<div class="clear"> </div>
			<!---End-top-nav---->
		</div>
		<!---End-header---->
	</div>
	
		<!---start---content----->
		<div class="wrap">
		<div class="content">
			<!---start-services---->
			<div class="services">
						<div class="service-content">
							<h3>健身器械介绍</h3>
							<ul>
								<li><span>1.</span></li>
								<li><p><a href="#">跑步机</a>跑步机，其主要系在扶手架适当位置处设一枢杆，复使该枢杆向机体前下方延伸，并使其另端枢结在跑步框架的适当位置处，在跑步框架前端底部设有一贴地滑轮，
									该贴地滑轮将有助于使用者的施力，具有折收省力，撑持稳固的特点。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>2.</span></li>
								<li><p><a href="#">活动斜板</a>活动斜板是练腰腹肌群的专用器械。由可以调节高度的钢管和木板组成。
									用直径为3.4厘米的管子焊接成长约2米， 宽约65厘米的框架，装上木板即可成斜板，搁置于可以调节高度的支架上。
									斜板面最好用海绵垫。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>3.</span></li>
								<li><p><a href="#">保护带</a>保护带是练健美中不可缺少的器材。特别是做大重量深蹲动作时具有保护腰的作用。
									同时有助于大力量练习，提高训练强度，防止伤害事故的发生。保护带一般是由牛皮或猪皮制成。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>4.</span></li>
								<li><p><a href="#">俯卧撑架</a>用铁管或木料制成，可供徒手和腰部负重做俯卧撑使用。
									 也有一种高架俯卧撑架，由铁管做支架及设放脚用的支板组成。训练时颈部和腰部都可以负重进行练习，
									加大了练习难度，提高了训练效果。俯卧撑架练习，对发达胸大肌群效果显著。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>5.</span></li>
								<li><p><a href="#">卧推架</a>卧推架是练胸大肌的专用器械。它有平卧、坐式斜卧和立式斜卧3种。
									它们都是由钢管焊接的支架和板面组成的。平卧推举架是发达胸大肌两侧肌群用的，坐式和立式卧推架是发达胸大肌上、
									下部肌群用的。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>6.</span></li>
								<li><p><a href="#">深蹲架</a>有铁制和木制两种。木制深蹲架由腿架和架面组成，形状象四条腿的高凳。
									高度一般为1米，其中腿架高90厘米，架面 厚10厘米，并成凹型，便于放稳杠铃。架面一般长440厘米，宽30厘米。
									深蹲架是肩负杠铃做蹲起发达腿部肌肉群的专用器械。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>7.</span></li>
								<li><p><a href="#">练颈帽</a>由两部分组成，一是皮带制成的简易帽套，一是可系重物的链条或绳子。
									训练使用时，可把它戴在头上，并在帽子下面悬垂一个杠铃片或者其它重物，是发达颈部肌肉的专用器械。</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>8.</span></li>
								<li><p><a href="#">开降架</a>用直径为4.8厘米的铁管焊接成。架高度为2.5米，左右架柱相距为1米。
									从架柱离底部60厘米处开始，每隔5厘米左右钻一个圆孔，以便于调节高度。可用来练习半蹲、负重提踵和颈后推举等
									动作。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>9.</span></li>
								<li><p><a href="#">动感单车</a>动感单车在克服了室外行驶的一切缺点后，由于技术上的改进，使得这项运动
									在简单易学之余，成为一项能够使全身得到锻炼的有氧运动。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>10.</span></li>
								<li><p><a href="#">椭圆机</a>椭圆机的运动型态类似越野滑雪(cross-country skiing)的动作，
									因此椭圆机的英文名称也称为elliptical cross-trainer。椭圆机被设计出来的时间虽短，但是由于受
									到大众的喜爱，因此发展也相当的迅速。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>11.</span></li>
								<li><p><a href="#">登山机</a>登山机是一种基于快跑、慢跑于一身的多功能有氧训练的机器。因其运动方式
									酷似登山运动而得名。使用登山机可以达到较好的减肥效果。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>12.</span></li>
								<li><p><a href="#">水阻划船器</a>水阻划船器（waterrower），又叫水阻力划船器，是划船器的一种，
									它模拟真实划船方式，打造真实划水的视觉、声音和感觉效果，让体验逼真的循序渐进的划水运动，对腿部、腰部、上肢、胸部、
									背部等部位的肌肉增强有较明显的作用。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>13.</span></li>
								<li><p><a href="#">史密斯训练器</a>史密斯训练器的使用方法：这种全能的器械的其实没有固定的使用方法，
									很多教练都是根据需要锻炼的部位来做相应的动作。</p></li>
								<div class="clear"> </div>
							</ul>
							
							<ul>
								<li><span>14.</span></li>
								<li><p><a href="#">综合训练器</a>
								综合训练器也叫多功能训练器材（在健身房常用）.也经常被叫做综合多功能训练器材。
								综合训练器，包括主底架，主底架的两端分别连接有前底脚和后底脚，主底架的上表面连接有调节立柱，包括倾斜部和弯管部，
								</p></li>
								<div class="clear"> </div>
							</ul>
							<div class="gallery-button"><a href="https://baike.baidu.com/item/%E5%81%A5%E8%BA%AB%E5%99%A8%E6%9D%90/2726770?fr=aladdin">Read More</a></div>
						</div>
						<div class="services-sidebar">
							<h3>部分器械图</h3>
							 <ul>
							  	<li><a href="#"><img src="__IMAGES__/qc1.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc2.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc3.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc4.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc5.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc6.jpg"/></a></li>
							  	<li><a href="#"><img src="__IMAGES__/qc7.jpg"/></a></li>
					 		</ul>
						</div>
						<div class="clear"> </div>
					</div>
			<!---End-services---->
		</div>
		</div>
		<!---End---content----->
	<div class="clear"> </div>
	<div class="top-link">
		<a href="#top" class="scroll">Click to Top</a>
	</div>
	<!---End-wrap---->
	</body>
</html>