//意见反馈
{extend name="common/memberbase"}

{block name="link"}
	<link rel="stylesheet" type="text/css" href="__CSS__/out.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/suggest.css" />
{/block}

{block name="content"}
	<div class="out" style="background-image: url(__IMG__/aback.jpg);">
		<div class="in">
			<div style="text-align: center;">
				<h2>意见反馈</h2>
			</div>		
			<div>
				<label class="lab"><span>联系方式：</span></label>
				<input type="text" placeholder="输入联系方式(必填)" class="connect"  />
			</div>
			
			<div>
				<label class="lab"><span class="span">内容：</span></label>
				<textarea class="content"></textarea>
			</div>
			
			<div>
				<div class="bt">
					<button class="send">提交</button>
					<button class="qx">取消</button>
				</div>
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript">
		$(function()
		{
			$(".send").click(function()
			{
				var connect = $(".connect").val();
				var content = $(".content").val();
				
				if(content==""||content==null||connect==""||connect==null)
				{
					alert("请输入内容！");
					return;
				}else{
					$.ajax({
						url:"sendsuggest",
						type:"POST",
						data:{connect:connect,content:content},
						success:function(data)
						{
							if(data == 1)
							{
								alert("反馈成功！");
								window.location.href = "suggest";
							}
						},
						error:function(){alert("error!")}
					});
				}				
			});
			
			$(".qx").click(function()
			{
				window.location.href = "memberpage";
			});
	
		});
	</script>
{/block}
